* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 1350px;
  margin: 0 auto;

}
/* HEADER*/

header {
  margin: 0 auto;
  width: 100%;
  height: 130px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 5px 5px;
  text-align: center;
}
/*FIRST BLOCK ON HEADER - Dropdown Menu */
.first__box {
  display: flex;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  font-size: 20px;
}

.dropdow__box li {
  display: inline;
  justify-content: flex-start;
  position: relative;
  list-style: none;
}
.dropdow__box a {
  text-decoration: none;
  color: black;
}
.dropdow__box span {
  color: lightgrey;
  padding-right: 10px;
  border-right: 1px solid;
  font-size: 15px;
}
.menu {  
  display: flex;
  flex-direction: row;
  text-align: left;
  color: black;
  display: none;
  width: 200px;
  height: 300px;
  position: absolute;
  z-index: 1;
  padding: 0.6em;
}
.menu li {
  margin-bottom: 4px;
}
.menu span {
  color: lightgrey;
}
.menu li a:hover {
  font-weight: bold;
  color: black;
}
.menu a:hover {
  font-weight: bold;
}
.menu:hover, .dropdow__box{
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  width: 200px;
  height: 300px;
  position: absolute;
  z-index: 1;
  padding: 0.6em;
}

.dropdow__list{
  background-color:aquamarine
}

#man-section {
  border: none;
  justify-self: flex-start;
}

#call-to-promos {
  color: red;
  font-size: 20px;
  border: none;
}

/*SECOND BLOCK ON HEADER*/

.main-logo {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}
h1 {
  align-self: center;
  font-size: 55px;
  margin: 0 auto;
  padding-bottom: 30px;
  position: absolute;
}
.breadcrumbs {
  font-size: 15px;
  display: flex;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 20px;
}
.breadcrumbs li,
.breadcrumbs a {
  display: inline;
  text-decoration: none;
  color: lightgrey;
  margin-right: 0.3em;
}

.breadcrumbs__list i {
  color:lightgray;
  font-size: 10px;
}


/*THIRD BLOCK ON HEADER */
.primary-nav {
  height: 100%;
  display: flex;
  text-align: center;
  position: relative;

}
.search-on-web {
  position: absolute;
  top: 25px;
  display: flex;
  right: 10px;
  width: 80%;
  justify-content: space-between;
  font-size: 18px;
}
.search-on-web a {
  color: black;
}
#search {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  text-align: left;
  padding: 0.3em 1.3em;
  text-align: left;
  margin-right: 5px;
  width: 100%;
}
#glass {
  position: absolute;
  font-size: 15px;
  margin-top: 5px;
}
.filters {
  display: flex;
  width: 320px;
  height: 50px;
  justify-content: space-around;
  align-self: flex-end;
  position: absolute;
  right: 5px;
  top: 80px;
}
.view-select {
  display: flex;
  width: 35%;
  justify-content: space-evenly;
}
.card-display {
  display: flex;

  width: 25%;
  justify-content: space-between;
}
#select-view-4-columns {
  color: green;
}
.filters select {
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

/*GALLERY AND PRODUCTS IMAGES*/
.gallery {
  height: 100%;
  width: 92%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235.5px, 1fr));
}
.card {
  text-align: center;

  padding: 10px 10px;
  margin-bottom: 20px;
  font-size: 12px;
}
.card a {
  text-decoration: none;
  color: black;
}
.card img {
  max-width: 97%;
  max-height: 100%;
}
.card h3 {
  font-weight: lighter;
  padding: 5px;
}
.card:last-of-type {
  margin-bottom: 140px;
}
.product-price {
  font-weight: bold;
}
.new,
.join-life {
  position: relative;
}
.new-button,
.join-life-button {
  position: absolute;
  top: 500px;
  left: 30px;
  background-color: white;
  border: none;
  font-weight: bold;
}

hr {
  border-top: 1px solid rgb(252, 252, 252);
}

/*NEWSLLETER SECTION*/
.addvert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.addvert-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#subscription-info {
  font-size: 23px;
}
#newsletter-email {
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid black;
  width: 600px;
  height: 60px;
  text-align: center;
}
.addvert-container input[type="email"]::placeholder {
  text-align: center;
  margin: 0 auto;
}

/* CONTACT SECTION*/
.contact {
  display: flex;
  justify-content: center;
}
.contact-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 60%;
}
#contact-info {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
#contact-info span {
  display: flex;

  justify-content: space-between;
  width: 110px;
}
.contact-info-container a {
  text-decoration: none;
  color: black;
}

.open-days-info {
  width: 100%;
  text-align: center;
}
/* FOOTER*/
/*FIRST FOOTER*/
.first-footer {
  margin: 40px 20px 100px 20px;
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  width: 95%;
  justify-content: space-evenly;
  height: 350px;
  font-size: 15px;
}
.footer div {
  margin: 20px;
  display: flex;
  width: 90%;
  flex-direction: column;
  position: relative;
}
.footer div:first-of-type {
  margin-left: 30px;
}

.footer ul {
  margin-top: 25px;
}
.footer li,
.footer a {
  text-decoration: none;
  list-style: none;
  color: black;
  padding-bottom: 12px;
}
/*PAY METHOD SPECIFIC CSS*/

.pay-method ul {
  margin-left: 30px;
}

.pay-method img {
  height: 15px;
  left: 0;
  position: absolute;
}
/* SECOND FOOTER*/
.second-footer {
  display: flex;
  justify-content: space-evenly;
}
.second-footer div {
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 2px;
}
.second-footer a {
  text-align: center;
  margin-bottom: 15px;
}
.second-footer p {
  font-weight: bold;
  color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.language {
  border-right: 1px solid rgb(243, 238, 238);
}
.language a {
  margin-left: 100px;
}

.more-clothes {
  border-left: 1px solid rgb(243, 238, 238);
  display: flex;
}
#link-to-more-clothes {
  margin-left: 110px;
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  header{
  display: flex;
  justify-content: space-between;
  }
  .first__box{
    display: none;
  }
  .dropdow__box{
    display: none;
  }
  .main-logo{
    width: 50%;
    display: flex;
  }
  h1{
    font-size: 3rem;
  }
  .primary-nav{
width: 50%;
  }
  
}
